In [3]:
import numpy as np
from astropy.io import ascii
import pandas as pd

In [4]:
file_08_1 = '/Users/huangyuxin/Downloads/auto_md/08/191001_conf01_p01_spliced_191001conf.mz'
file_08_2 = '/Users/huangyuxin/Downloads/auto_md/08/191001_conf03_p01_spliced_191001conf.mz'
file_08_3 = '/Users/huangyuxin/Downloads/auto_md/08/191001_conf05_p01_v2_spliced_191001conf.mz'

file_09_1 = '/Users/huangyuxin/Downloads/auto_md/09/180924_conf00_p0_spliced_191001conf.mz'
file_09_2 = '/Users/huangyuxin/Downloads/auto_md/09/180924_conf01_p1_spliced_191001conf.mz'
file_09_3 = '/Users/huangyuxin/Downloads/auto_md/09/180924_conf02_p0_spliced_191001conf.mz'
file_09_4 = '/Users/huangyuxin/Downloads/auto_md/09/191001_conf07_p1_v2_spliced_191001conf.mz'

file_10_1 = '/Users/huangyuxin/Downloads/auto_md/10/191001_conf00_w2_p0_spliced_191001conf.mz'
file_10_2 = '/Users/huangyuxin/Downloads/auto_md/10/191001_conf01_w2_p1_spliced_191001conf.mz'
file_10_3 = '/Users/huangyuxin/Downloads/auto_md/10/191001_conf02_w2_p0_spliced_191001conf.mz'

file_11_1 = '/Users/huangyuxin/Downloads/auto_md/11/180924_conf00_w2_p0_spliced_191001conf.mz'
file_11_2 = '/Users/huangyuxin/Downloads/auto_md/11/180924_conf01_w2_p1_spliced_191001conf.mz'
file_11_3 = '/Users/huangyuxin/Downloads/auto_md/11/180924_conf03_w2_p1_spliced_191001conf.mz'
file_11_4 = '/Users/huangyuxin/Downloads/auto_md/11/191001_conf03_w2_p1_spliced_191001conf.mz'
#file_11_5 = '/Users/huangyuxin/Downloads/auto_md/11/191001_conf04_w2_p0_spliced_191001conf.mz'

file_12_1 = '/Users/huangyuxin/Downloads/auto_md/12/180924_conf02_w2_p0_spliced_191001conf.mz'

file_16_1 = '/Users/huangyuxin/Downloads/auto_md/16/180924_conf03_p1_spliced_191001conf.mz'
file_16_2 = '/Users/huangyuxin/Downloads/auto_md/16/181112_p2_conf00_p0_spliced_191001conf.mz'
file_16_3 = '/Users/huangyuxin/Downloads/auto_md/16/181112_p2_conf01_p1_spliced_191001conf.mz'

intable_08_1 = ascii.read(file_08_1, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_08_2 = ascii.read(file_08_2, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_08_3 = ascii.read(file_08_3, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))

intable_09_1 = ascii.read(file_09_1, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_09_2 = ascii.read(file_09_2, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_09_3 = ascii.read(file_09_3, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_09_4 = ascii.read(file_09_4, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))

intable_10_1 = ascii.read(file_10_1, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_10_2 = ascii.read(file_10_2, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_10_3 = ascii.read(file_10_3, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))

intable_11_1 = ascii.read(file_11_1, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_11_2 = ascii.read(file_11_2, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_11_3 = ascii.read(file_11_3, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_11_4 = ascii.read(file_11_4, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_11_5 = ascii.read(file_11_5, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))

intable_12_1 = ascii.read(file_12_1, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))

intable_16_1 = ascii.read(file_16_1, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_16_2 = ascii.read(file_16_2, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))
intable_16_3 = ascii.read(file_16_3, data_start=0, names=('id', 'name', 'ra', 'dec', 'mag', 'type', 'autotid', 'autotn','autoz',
                                                'autoxcor', 'fintid', 'fintn', 'finz', 'qop', 'comment'))

In [7]:
narrowfile_191001 = '/Users/huangyuxin/Desktop/graduate_study/FRB_files/configure/test/Master_files/FRB191001_22.0_narrow.txt'

narrowtable_191001 = ascii.read(narrowfile_191001, data_start=0, names=('id', 'ra_h', 'ra_m', 'ra_s', 'dec_d', 'dec_m', 'dec_s', 'flag','pro',
                                                'mag', 'projid', 'vra', 'vdec'))

narrowfile_180924 = '/Users/huangyuxin/Desktop/graduate_study/FRB_files/configure/test/Master_files/FRB180924_22.0_narrow.txt'

narrowtable_180924 = ascii.read(narrowfile_180924, data_start=0, names=('id', 'ra_h', 'ra_m', 'ra_s', 'dec_d', 'dec_m', 'dec_s', 'flag','pro',
                                                'mag', 'projid', 'vra', 'vdec'))

In [15]:
masterfile_191001 = '/Users/huangyuxin/Desktop/graduate_study/FRB_files/configure/test/Master_files/FRB191001.txt'
masterfile_180924 = '/Users/huangyuxin/Desktop/graduate_study/FRB_files/configure/test/Master_files/FRB180924.txt'

mastable_191001 = ascii.read(masterfile_191001, data_start=4, names=('id', 'ra_h', 'ra_m', 'ra_s', 'dec_d', 'dec_m', 'dec_s', 'flag','pro',
                                                'mag', 'projid', 'vra', 'vdec'))
mastable_180924 = ascii.read(masterfile_180924, data_start=4, names=('id', 'ra_h', 'ra_m', 'ra_s', 'dec_d', 'dec_m', 'dec_s', 'flag','pro',
                                                'mag', 'projid', 'vra', 'vdec'))

# wide

## 191001

In [117]:
wid_id = np.array([],dtype='int64')
wid_time = np.array([],dtype='int16')
wid_aqop = np.array([],dtype='int8')

In [118]:
intable = intable_11_4
for i in range(len(intable['name'])):
    if(sum(np.in1d(intable['name'][i], narrowtable_191001['id']))==0):
        wid_id = np.append(wid_id, intable['name'][i])
        wid_time = np.append(wid_time, 1200*2)
        wid_aqop = np.append(wid_aqop, intable['qop'][i])

In [119]:
len(wid_id)

15

In [120]:
f = open('191001_record.txt', 'a+')
#f.write('# coadd_obj_id   group   total_exposure_time(second)   auto_QOP   target_name\n')
for i in range(len(wid_id)):
    f.write('{0:12}   {1:6}   {2:6}   {3:3}      {4:30}\n'.format(wid_id[i], 'wide', wid_time[i], wid_aqop[i], '191001_conf03_w2_p1'))
f.close()

## 180924

In [277]:
wid_id = np.array([],dtype='int64')
wid_time = np.array([],dtype='int16')
wid_aqop = np.array([],dtype='int8')

In [278]:
intable = intable_16_1
for i in range(len(intable['name'])):
    if(sum(np.in1d(intable['name'][i], narrowtable_180924['id']))==0):
        wid_id = np.append(wid_id, intable['name'][i])
        wid_time = np.append(wid_time, 1200*2)
        wid_aqop = np.append(wid_aqop, intable['qop'][i])

In [279]:
len(wid_id)

355

In [280]:
f = open('180924_record.txt', 'a+')
#f.write('# coadd_obj_id   group   total_exposure_time(second)   auto_QOP   target_name\n')
for i in range(len(wid_id)):
    f.write('{0:12}   {1:6}   {2:6}   {3:3}      {4:30}\n'.format(wid_id[i], 'wide', wid_time[i], wid_aqop[i], '180924_conf03_p1'))
f.close()

# narrow

## 191001

##08_3, 09_4, 10_1, 10_2, 10_3, 11_4

In [129]:
nar_id = np.array([],dtype='int64')
nar_time = np.array([],dtype='int16')
nar_aqop = np.array([],dtype='int8')

In [142]:
nar_id_uni = np.array([],dtype='int64')
nar_time_uni = np.array([],dtype='int16')
nar_aqop_uni = np.array([],dtype='int8')

In [140]:
intable = intable_11_4

nar_id = np.append(nar_id,intable['name'][np.in1d(intable['name'], narrowtable_191001['id'])])
nar_time = np.append(nar_time,[1200*2]*sum(np.in1d(intable['name'], narrowtable_191001['id'])))
nar_aqop = np.append(nar_aqop,intable['qop'][np.in1d(intable['name'], narrowtable_191001['id'])])

In [141]:
len(nar_id)

60

In [143]:
nar_id_uni = np.unique(nar_id)
for i in range(len(nar_id_uni)):
    nar_aqop_uni = np.append(nar_aqop_uni,max(nar_aqop[np.in1d(nar_id, nar_id_uni[i])]))
    nar_time_uni = np.append(nar_time_uni,sum(nar_time[np.in1d(nar_id, nar_id_uni[i])]))

In [144]:
len(nar_id_uni)

36

In [181]:
f = open('191001_record.txt', 'a+')
#f.write('# coadd_obj_id   group   total_exposure_time(second)   auto_QOP   target_name\n')
for i in range(len(nar_id_uni)):
    nar_tar = ''
    if(sum(np.in1d(nar_id_uni[i],intable_08_3['name']))!=0):
        nar_tar = nar_tar +',191001_conf05_p01_v2'
    if(sum(np.in1d(nar_id_uni[i],intable_09_4['name']))!=0):
        nar_tar = nar_tar +',191001_conf07_p1_v2'
    if(sum(np.in1d(nar_id_uni[i],intable_10_1['name']))!=0):
        nar_tar = nar_tar +',191001_conf00_w2_p0'
    if(sum(np.in1d(nar_id_uni[i],intable_10_2['name']))!=0):
        nar_tar = nar_tar +',191001_conf01_w2_p1'
    if(sum(np.in1d(nar_id_uni[i],intable_10_3['name']))!=0):
        nar_tar = nar_tar +',191001_conf02_w2_p0'
    if(sum(np.in1d(nar_id_uni[i],intable_11_4['name']))!=0):
        nar_tar = nar_tar +',191001_conf03_w2_p1'
    f.write('{0:12}   {1:6}   {2:6}   {3:3}      {4:30}\n'.format(nar_id_uni[i], 'narrow', nar_time_uni[i], nar_aqop_uni[i], nar_tar[1:]))
f.close()

## 180924

##09_1 09_2 09_3 11_1 11_2 11_3 12_1 16_1

In [282]:
nar_id = np.array([],dtype='int64')
nar_time = np.array([],dtype='int16')
nar_aqop = np.array([],dtype='int8')

nar_id_uni = np.array([],dtype='int64')
nar_time_uni = np.array([],dtype='int16')
nar_aqop_uni = np.array([],dtype='int8')

In [297]:
intable = intable_16_1

nar_id = np.append(nar_id,intable['name'][np.in1d(intable['name'], narrowtable_180924['id'])])
nar_time = np.append(nar_time,[1200*2]*sum(np.in1d(intable['name'], narrowtable_180924['id'])))
nar_aqop = np.append(nar_aqop,intable['qop'][np.in1d(intable['name'], narrowtable_180924['id'])])

In [298]:
len(nar_id)

55

In [299]:
nar_id_uni = np.unique(nar_id)
for i in range(len(nar_id_uni)):
    nar_aqop_uni = np.append(nar_aqop_uni,max(nar_aqop[np.in1d(nar_id, nar_id_uni[i])]))
    nar_time_uni = np.append(nar_time_uni,sum(nar_time[np.in1d(nar_id, nar_id_uni[i])]))

In [300]:
len(nar_id_uni)

32

In [301]:
f = open('180924_narrow_obs.txt', 'a+')
f.write('# coadd_obj_id   group   total_exposure_time(second)   auto_QOP   target_name\n')
for i in range(len(nar_id_uni)):
    nar_tar = ''
    if(sum(np.in1d(nar_id_uni[i],intable_09_1['name']))!=0):
        nar_tar = nar_tar +',180924_conf00_p0'
    if(sum(np.in1d(nar_id_uni[i],intable_09_2['name']))!=0):
        nar_tar = nar_tar +',180924_conf01_p1'
    if(sum(np.in1d(nar_id_uni[i],intable_09_3['name']))!=0):
        nar_tar = nar_tar +',180924_conf02_p0'
    if(sum(np.in1d(nar_id_uni[i],intable_11_1['name']))!=0):
        nar_tar = nar_tar +',180924_conf00_w2_p0'
    if(sum(np.in1d(nar_id_uni[i],intable_11_2['name']))!=0):
        nar_tar = nar_tar +',180924_conf01_w2_p1'
    if(sum(np.in1d(nar_id_uni[i],intable_11_3['name']))!=0):
        nar_tar = nar_tar +',180924_conf03_w2_p1'
    if(sum(np.in1d(nar_id_uni[i],intable_12_1['name']))!=0):
        nar_tar = nar_tar +',180924_conf02_w2_p0'
    if(sum(np.in1d(nar_id_uni[i],intable_16_1['name']))!=0):
        nar_tar = nar_tar +',180924_conf03_p1'
    f.write('{0:12}   {1:6}   {2:6}   {3:3}      {4:30}\n'.format(nar_id_uni[i], 'narrow', nar_time_uni[i], nar_aqop_uni[i], nar_tar[1:]))
f.close()

# unobserved
## 191001
### narrow

In [ ]:
#save file with rmag<22.0 d<5arcmin photz_l95<zfrb

In [191]:
photzfil = '/Users/huangyuxin/Desktop/graduate_study/FRB_files/configure/test/photz_F191001_narrow.zout'
photz = ascii.read(photzfil, format='commented_header')

In [207]:
zfrb = 0.23
iin = np.where(photz['l95']<zfrb)
iin1 = np.in1d(narrowtable_191001['id'],photz['id'][iin])
nar_ft = narrowtable_191001[iin1]

In [208]:
np.in1d(nar_id_uni,nar_ft['id'])

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [211]:
len(nar_ft)

49

In [222]:
f = open('FRB191001_22.0_narrow_photz_ft.txt', 'a+')
for tab in nar_ft:
    outstr = '{0:12}   {1:02d} {2:02d} {3:06.3f}  {4:+02d} {5:02d} {6:06.3f}   {7:1}   {8:1d}   {9:6.3f}  {10:1d}  {11:+7.4f} {12:+7.4f}   \n'.format(tab['id'], tab['ra_h'], tab['ra_m'], tab['ra_s'], tab['dec_d'], tab['dec_m'], tab['dec_s'], tab['flag'], tab['pro'], tab['mag'], tab['projid'], tab['vra'], tab['vdec'])
    f.write(outstr)
f.close()

In [ ]:
###########

In [186]:
file = '/Users/huangyuxin/Downloads/auto_md/191001_record.txt'
intable = ascii.read(file, data_start=0, names=('id', 'group', 'time', 'qop', 'target'))

In [228]:
iin = ~np.in1d(nar_ft['id'],intable['id'])
table = nar_ft['id'][iin]

In [234]:
f = open('191001_narrow_unobs.txt', 'w+')
f.write('# coadd_obj_id   group   total_exposure_time(second)   auto_QOP   target_name\n')
for i in range(len(table)):
    f.write('{0:12}   {1:6}     {2:6}   {3:3}      {4:30}\n'.format(table[i], 'narrow', 'unobs', 'unobs', 'unobs'))
f.close()

### wide

In [235]:
file = '/Users/huangyuxin/Downloads/auto_md/191001_record.txt'
intable = ascii.read(file, data_start=0, names=('id', 'group', 'time', 'qop', 'target'))

In [240]:
iin = ~np.in1d(mastable_191001['id'],intable['id'])
table = mastable_191001['id'][iin]

In [247]:
f = open('191001_wide_unobs.txt', 'w+')
f.write('# coadd_obj_id   group   total_exposure_time(second)   auto_QOP   target_name\n')
for i in range(len(table)):
    f.write('   {0:12}{1:6}     {2:6}   {3:3}      {4:30}\n'.format(table[i], 'wide', 'unobs', 'unobs', 'unobs'))
f.close()

## 180924
### narrow

In [ ]:
#save file with rmag<22.0 d<5arcmin photz_l95<zfrb

In [302]:
photzfil = '/Users/huangyuxin/Desktop/graduate_study/FRB_files/configure/test/photz_F180924_narrow.zout'
photz = ascii.read(photzfil, format='commented_header')

In [304]:
zfrb = 0.32
iin = np.where(photz['l95']<zfrb)
iin1 = np.in1d(narrowtable_180924['id'],photz['id'][iin])
nar_ft = narrowtable_180924[iin1]

In [305]:
np.in1d(nar_id_uni,nar_ft['id'])

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [306]:
len(nar_ft)

50

In [307]:
f = open('FRB180924_22.0_narrow_photz_ft.txt', 'a+')
for tab in nar_ft:
    outstr = '{0:12}   {1:02d} {2:02d} {3:06.3f}  {4:+02d} {5:02d} {6:06.3f}   {7:1}   {8:1d}   {9:6.3f}  {10:1d}  {11:+7.4f} {12:+7.4f}   \n'.format(tab['id'], tab['ra_h'], tab['ra_m'], tab['ra_s'], tab['dec_d'], tab['dec_m'], tab['dec_s'], tab['flag'], tab['pro'], tab['mag'], tab['projid'], tab['vra'], tab['vdec'])
    f.write(outstr)
f.close()

In [ ]:
############

In [308]:
file = '/Users/huangyuxin/Downloads/auto_md/180924_record.txt'
intable = ascii.read(file, data_start=0, names=('id', 'group', 'time', 'qop', 'target'))

In [309]:
iin = ~np.in1d(nar_ft['id'],intable['id'])
table = nar_ft['id'][iin]

In [310]:
f = open('180924_narrow_unobs.txt', 'w+')
f.write('# coadd_obj_id   group   total_exposure_time(second)   auto_QOP   target_name\n')
for i in range(len(table)):
    f.write('{0:12}   {1:6}     {2:6}   {3:3}      {4:30}\n'.format(table[i], 'narrow', 'unobs', 'unobs', 'unobs'))
f.close()

### wide

In [312]:
file = '/Users/huangyuxin/Downloads/auto_md/180924_record.txt'
intable = ascii.read(file, data_start=0, names=('id', 'group', 'time', 'qop', 'target'))

In [313]:
iin = ~np.in1d(mastable_180924['id'],intable['id'])
table = mastable_180924['id'][iin]

In [314]:
f = open('180924_wide_unobs.txt', 'w+')
f.write('# coadd_obj_id   group   total_exposure_time(second)   auto_QOP   target_name\n')
for i in range(len(table)):
    f.write('   {0:12}{1:6}     {2:6}   {3:3}      {4:30}\n'.format(table[i], 'wide', 'unobs', 'unobs', 'unobs'))
f.close()

# transfer to csv file

In [322]:
file = '/Users/huangyuxin/Downloads/auto_md/180924_record.txt'
intable = ascii.read(file, data_start=0, names=('id', 'group', 'time', 'qop', 'target'))
dataf = pd.read_table(file,delim_whitespace=True, skiprows=0)

In [323]:
dataf

,coadd_obj_id,group,total_exposure_time(second),auto_QOP,target_name
0,239134103,wide,2700,4,180924_conf00_p0
1,209912271,wide,2700,4,180924_conf00_p0
2,239135914,wide,2700,3,180924_conf00_p0
3,214683286,wide,2700,4,180924_conf00_p0
4,214684712,wide,2700,2,180924_conf00_p0
...,...,...,...,...,...
4701,239124166,wide,unobs,unobs,unobs
4702,239125038,wide,unobs,unobs,unobs
4703,239122027,wide,unobs,unobs,unobs
4704,239125730,wide,unobs,unobs,unobs
4705,239128712,wide,unobs,unobs,unobs

In [324]:
dataf.to_csv("FRB180924_record.csv",index=False,sep=',')

# pick qop = 3 & 4 galaxies

## wide_obs

In [66]:
file = '/Users/huangyuxin/Downloads/auto_md/180924_record_file/180924_wide_obs.txt'
#intable = ascii.read(file, data_start=0, names=('id', 'group', 'time', 'qop', 'target'))
#intable = intable[intable['qop']==3]
dataf = pd.read_table(file,delim_whitespace=True, skiprows=0)

In [67]:
dataf = dataf[np.in1d(dataf['auto_QOP'],np.array([3,4]))]
dataf

,coadd_obj_id,group,total_exposure_time(second),auto_QOP,target_name
0,239134103,wide,2700,4,180924_conf00_p0
1,209912271,wide,2700,4,180924_conf00_p0
2,239135914,wide,2700,3,180924_conf00_p0
3,214683286,wide,2700,4,180924_conf00_p0
5,214682843,wide,2700,3,180924_conf00_p0
...,...,...,...,...,...
2787,214677633,wide,2400,3,180924_conf03_p1
2788,214679561,wide,2400,4,180924_conf03_p1
2789,214679637,wide,2400,4,180924_conf03_p1
2790,239130994,wide,2400,3,180924_conf03_p1
2791,214680482,wide,2400,4,180924_conf03_p1

In [68]:
dataf.to_csv("FRB180924_wide_qop3&4.csv",index=False,sep=',')